/* src/styles/MenuPage.css */
.menu-image {
    width: 100%; /* Make the image responsive */
    height: 300px; /* Fixed height for all images */
    object-fit:cover; /* Cover the area without stretching the image */
    border-radius: 5%;
}

.menu-title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}


.mt-5 {
    background-color: #FBF9F1;
    border-radius: 2%;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}






