/* Navbar.css */
.nav-item {
    margin-right: 10px;
    font-family: Verdana, sans-serif;
}

.nav-item:hover {
    background-color: #0056b3;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-button {
    margin-left: 10px;
}


.logout-button:hover {
    transform: scale(1.15);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Mobile view styling */
@media (max-width: 768px) {
    .nav-item, .logout-button {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }
}

.navbar-brand img {
    margin-right: 15px;
    margin-left: 20px;
    border-radius: 50%;
    transition: transform 0.12s ease; 
}

.navbar-brand img:hover {
    transform: scale(1.5); 
}


